<section id="contact-intro"> 
    <div id="contact-text-box">
        <h2>OUR REPRESENTATIVES</h2>
    </div>
</section>

<section id="contact">
    <div class="platforms-container">
        <a href="#bio-julianne" class="gov-card">
            <div class="gov-title">Julianne Ferranco</div>
            <img src="/sample picture.jpeg" alt="Julianne" class="gov-pic">
        </a>
        
        <a href="#bio-janret" class="gov-card">
            <div class="gov-title">Janret Galvez</div>
            <img src="/sample picture.jpeg" alt="Janret" class="gov-pic">
        </a>

        <a href="#bio-crystal" class="gov-card">
            <div class="gov-title">Crystal Erandio</div>
            <img src="/sample picture.jpeg" alt="Crystal" class="gov-pic">
        </a>

        <a href="#bio-gerard" class="gov-card">
            <div class="gov-title">Gerard Benitez</div>
            <img src="/sample picture.jpeg" alt="Gerard" class="gov-pic">
        </a>
    </div>
</section>