<section id="candies"> 

    <div id="bp"> 
        <h2 class="candidate-name"> Robert Downey Jr. </h2>
        <h3 class="section-title"> Projects and Platforms: </h3>    
        
        <div class="platforms-container">
            <div class="platform-box">
                <h4> 1.) WebSed </h4>
                <p class="platform-desc"> A student and learning centered digital repository that allows SED students to understand the basic crash-courses related to every course's major subjects through frameworks, models, and related literature. This promotes experience, connection, and more — all to enhance each and every SED students' knowledge and understanding.</p>
            </div>

            <div class="platform-box">
                <h4> 2.) PSYCH-tivities: SED Career Fair </h4>
                <p class="platform-desc"> A 2-day University-wide event during SED month (September), wherein professors, psychologists, and practitioners are invited to conduct lectures and interactive workshops to the SED students. This aims to provide career roadmaps and more realistic inputs from professionals that encourages SED students to discern which specific profession resonates them and feel empowered in their pursuit of future careers. </p>
            </div>

            <div class="platform-box">
                <h4> 3.) SEATle Down: Brain Break Bingo </h4>
                <p class="platform-desc"> A semestral event during midterms that promotes the importance of mental wellness within the community of UA&P. This project aims to continuously progress ongoing brain break activities in collaboration with the respective organizations and faculties. This ensures that UA&P students remain to be supported with the help of companionship alongside the facilities that are provided in campus. </p>
            </div>
        </div>
    </div>
    
    <div id="bl"> 
        <h2 class="candidate-name"> Chris Evans </h2>
        <h3 class="section-title"> Projects and Platforms: </h3>    
        
        <div class="platforms-container">
            <div class="platform-box">
                <h4> 1.) WebSed </h4>
                <p class="platform-desc"> A student and learning centered digital repository that allows SED students to understand the basic crash-courses related to every course's major subjects through frameworks, models, and related literature. This promotes experience, connection, and more — all to enhance each and every SED students' knowledge and understanding.</p>
            </div>

            <div class="platform-box">
                <h4> 2.) PSYCH-tivities: SED Career Fair </h4>
                <p class="platform-desc"> A 2-day University-wide event during SED month (September), wherein professors, psychologists, and practitioners are invited to conduct lectures and interactive workshops to the SED students. This aims to provide career roadmaps and more realistic inputs from professionals that encourages SED students to discern which specific profession resonates them and feel empowered in their pursuit of future careers. </p>
            </div>

            <div class="platform-box">
                <h4> 3.) SEATle Down: Brain Break Bingo </h4>
                <p class="platform-desc"> A semestral event during midterms that promotes the importance of mental wellness within the community of UA&P. This project aims to continuously progress ongoing brain break activities in collaboration with the respective organizations and faculties. This ensures that UA&P students remain to be supported with the help of companionship alongside the facilities that are provided in campus. </p>
            </div>
        </div>
    </div>

</section>