 <section id="intro"> 
    <div class="intro-content">
        <p class="intro-name">COS INDEPENDENTS 2026</p>
        <h1 class="intro-tagline">MOTTO1,<br>MOTTO2!</h1>
        <p class="intro-description">
            A movement for every student. A government that listens, serves, and stands with you.
        </p>
    </div>
</section>

<section id="intro-text"> 
    <div id="text-box">
        <!-- Intro: Background pictures of any insignia --> 
        <h2> INTRODUCTION </h2>
        <p> This is where we put the text of mottos, slogans and other stuff that persuades the voters. Lorem ipsum sample text in this area chucchchuchu. </p>
    </div>
</section>

<!-- Background picture of all candidates together -->
<section id="government"> 
    <div id="text-box">
        <h2> CANDIDATES </h2>
        <div id="gov-links">
            <a href="focus24.html" class="gov-card"> 
                <div class="gov-title">Batch 2024</div>
                <img src="sample picture.jpeg" alt="Batch 24" class="gov-pic">
            </a>
            
            <a href="focus25.html" class="gov-card">
                <div class="gov-title">Batch 2025</div>
                <img src="sample picture.jpeg" alt="Batch 25" class="gov-pic">
            </a>
        </div>
    </div>  
</section>

<!-- Background picture: ?? -->
<section id="about-us"> 
    <div id="text-box">
        <h2> WHY US? </h2>
        <p> We are a slate that is aiming for the lorem ipsum of our government chuchu. We will do our best to serve the student body chcuhcu. Sample text in this area where the about us of the candies is seen. That is all thank you! </p>
    </div>
</section>
